# Database Configuration
DB_HOST=localhost
DB_PORT=4000
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=quant_blog

# Application Configuration
PORT=3001
NODE_ENV=development

# JWT Configuration
JWT_SECRET=67941cd45fe6ebd906ed2f751aaf49dea7be39a590b562bb3f88aa2f6194a2c1
JWT_ACCESS_EXPIRATION_TIME=1d
JWT_REFRESH_EXPIRATION_TIME=15d

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SENDER=hoanyttv@gmail.com
EMAIL_PASSWORD=leuk voke jcuk obnl

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Redis Configuration
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=Shinki_1809    # nếu có
REDIS_DB=0                           # database index
REDIS_TTL=3600                       # thời gian cache mặc định (giây)

# Các cấu hình cho registration
REGISTRATION_EXPIRE_TIME=3600        # thời gian hết hạn token đăng ký (giây)

API_PREFIX=v1
COOKIE_DOMAIN=localhost

CLOUDINARY_CLOUD_NAME=dac8qgcug
CLOUDINARY_API_KEY=355279637337796
CLOUDINARY_API_SECRET=mekeVlRa_eJa6qo4W3pjNDOEzdU